[submodule "game/externals/gojira-sdl2"]
	path = game/externals/gojira-sdl2
	url = git@github.com:maxfish/gojira-sdl2.git
[submodule "game/externals/box2d"]
	path = game/externals/box2d
	url = https://github.com/erincatto/Box2D.git
